.content {
	font-family: "Open Sans";
}

#match-name{
	color: #0080ff;
	font-size: 15px;
	background-color: #23272a;
	font-weight: bold;
	position: absolute;
	top: 521px;
	left: 63px;
	width: 100px;
}
